@import "tailwindcss";

@theme {
  --color-dark-bg: #020200;
  --color-dark-bg-1: #111518;
  --color-accent: #009d73;
}



body {
  background-color: var(--color-dark-bg);
  color: white;
}

button{
  cursor: pointer;
}